<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.sms.asilapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/asilapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity"></activity>
        <activity android:name=".ReadRatingsActivity"></activity>
        <activity android:name=".AddFoodActivity" />
        <activity android:name=".AddAcceptanceActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".InternalRegulationActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AppDetailsActivity" />
        <activity android:name=".RetrieveBasicNecessitiesActivity" />
        <activity android:name=".RatingActivity" />
        <activity android:name=".PatientDetailActivity" />
        <activity android:name=".KitOpeningActivity" />
        <activity android:name=".PatientListActivity" />
        <activity android:name=".SearchPatientActivity" />
        <activity android:name=".DoctorActivity" />
        <activity
            android:name=".PopUpTemperatureActivity"
            android:theme="@style/PopupTheme" />
        <activity android:name=".MedicalRecordsActivity" />
        <activity android:name=".PersonalDataActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InformativeActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".AcceptanceActivity" />
        <activity android:name=".CityInfoActivity" />
        <activity android:name=".BylawActivity" />
        <activity android:name=".UsefulNumbersActivity" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".QuestionnairesActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomepageActivity" />
        <activity android:name=".SymptomsActivity" />
        <activity android:name=".AddUserActivity" />
    </application>

</manifest>